<h1>A Simple Angular Liquid Fill Gauge Demo</h1>

<h2>Default Parameters</h2>
<lib-ngx-liquid-gauge class="sample" [value]="30"></lib-ngx-liquid-gauge>



<h2>Setting just the gauge value</h2>
<input type="text" (keyup.enter)="add($event)" value="22">
<div></div>
<lib-ngx-liquid-gauge [value]="second"></lib-ngx-liquid-gauge>


<h2>All the settings of the original Liquid Fill Gauge implementation are exposed as inputs to the Angular Component
</h2>
<lib-ngx-liquid-gauge [value]="77" [minValue]="0" [maxValue]="100" [circleThickness]="0.05" [circleFillGap]="0.05"
  [circleColor]="'#178BCA'" [waveHeight]="0.05" [waveCount]="1" [waveRiseTime]="1000" [waveAnimateTime]="1000"
  [waveRise]="true" [waveHeightScaling]="true" [waveAnimate]="true" [waveColor]="'#178BCA'" [waveOffset]="0"
  [textVertPosition]=".5" [textSize]="1" [valueCountUp]="true" [displayPercent]="true" [textColor]="'#045681'"
  [waveTextColor]="'#A4DBf8'">
</lib-ngx-liquid-gauge>
